#root {
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 6px;
  background: rgb(240, 240, 240);
  border-radius: 18px;
}

body::-webkit-scrollbar-thumb {
  width: 6px;
  background: rgb(197, 197, 197);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
}

.content-list{
  width: 75%;
}

.list-items::-webkit-scrollbar {
  height: 6px !important;
  background: rgb(240, 240, 240) !important;
  border-radius: 18px !important;
}

.list-items::-webkit-scrollbar-thumb {
  height: 6px !important;
  background: rgb(197, 197, 197) !important;
  border-radius: 8px !important;
}

.list-items::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180) !important;
}


.btn {
  background: #1db954 !important;
  border: #1db954 !important;
  color: #ffffff !important;
}

.btn-light {
  background-color: #f5f5f5 !important;
  color: #1db954 !important;
}

.btn:hover {
  background-color: #189443 !important;
}

.btn-light:hover{
  background-color: #e0e0e0 !important;
}

.text-dark {
  color: #191414 !important;
}

.content-img {
  background-image: url("http://localhost:3000/assets/images/spotify-background.jpg");
  background-size: cover;
  background-position: center;
}

.form-content {
  width: 100%;
}

.login-img {
  background-image: url("http://localhost:3000/assets/images/listen-music.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 20%;
}

.card-container {
  margin: 0 auto;
}

/* @media (min-width: 600px) {
  .form-content {
    width: 50%;
  }

  .content {
    width: 50% !important;
    margin: 0 auto;
  }

  .content-list {
    width: 75% !important;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {


  .content-list .card {
    width: 75% !important;
  }

  .card-container {
    justify-content: center !important;
  }
} */